Source: modxslt
Section: web
Priority: extra
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (>= 5), autotools-dev, libpcre3-dev (>= 4.5), libxslt1-dev, libxml2 (>= 1.5), libxml2-dev, apache2-threaded-dev (>= 2.0.40) | apache2-prefork-dev (>= 2.0.40), libapr1-dev, libgcrypt11-dev, dpatch
Standards-Version: 3.8.0
Homepage: http://www.mod-xslt2.com/

Package: libapache2-modxslt
Architecture: any
Depends: ${shlibs:Depends}
Suggests: modxslt-tools, modxslt-doc
Description: XSLT processing module for Apache 2.x based on libxml2
 This package provides an Apache 2 module able to parse XML
 data using XSLT stylesheets on the fly.
 .
 It differs from many other mod-xslt since it uses www.xmlsoft.org
 libxml2 and libxslt library, and provides:
   o  standard compliant way of processing PI (like <?xml-stylesheet...).
   o  a standard API, usable from other Web Servers (right now,
      Apache 2.x is supported).
   o  allows XSLT stylesheets to access GET variables, 
      to set output headers or to fetch information about
      the web server being used.
   o  provides an internal language to choose the stylesheet
      to load.
   o  full support for exslt.
   o  is able to parse dynamically generated documents 
      on Apache 2.x, like PHP or cgi-bin output
   o  provides a complete set of documentation and command line
      tools

Package: libmodxslt1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: modxslt libraries to parse XML using XSLT stylesheets
 modxslt is a web server module able to parse XML data on the
 fly. This library contains web server independent parts used
 by the various modules to provide a consistent and reliable
 parsing of xml documents under any web server.

Package: libmodxslt1-dev
Section: libdevel
Architecture: any
Suggests: modxslt-doc
Depends: libmodxslt1 (= ${binary:Version})
Description: Development header for libmodxslt
 This package provides the development headers for the mod-xslt
 library, libmodxslt.
 . 
 You only need this package if you are planning on compiling software
 that depends upon the libmodxslt1.

Package: modxslt-doc
Section: doc
Architecture: all
Description: Documentation for modxslt
 This package contains all the documentation needed to use
 libapache-modxslt, libapache2-modxslt, modxslt-tools or
 libmodxslt in various format.

Package: modxslt-tools
Architecture: any
Depends: ${shlibs:Depends}
Suggests: modxslt-doc
Description: modxslt command line tools
 This package contains commands for modxslt tools, based
 on libxml2 and libxslt1.

