#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

export SHELL=bash

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS += -Wall -g -DMXSLT_DISABLE_SIGNATURE

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

config.status: configure 
	echo "TARGET: configure"
	dh_testdir

ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub ./helpers/config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess ./helpers/config.guess
endif
	CFLAGS="$(CFLAGS)" ./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNUU_TYPE) \
	  --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
	  --with-sapi=apache2 --cache-file=cache.none --enable-exslt

build-indep: build-indep-stamp

build-indep-stamp:
	echo "TARGET: build-indep-stamp"
	dh_testdir
	cd $(CURDIR)/doc && $(MAKE)
	touch build-indep-stamp

build-arch: build-arch-stamp

build-arch-stamp: config.status
	echo "TARGET: build-arch-stamp"
	dh_testdir
	   
	cd $(CURDIR) && $(MAKE)
	touch build-arch-stamp
	
build: build-indep build-arch
	echo "TARGET: build"

install: install-arch install-indep
	echo "TARGET: install"

clean:
	dh_testdir
	dh_testroot
	rm -rf $(CURDIR)/debian/apache1
	rm -rf $(CURDIR)/debian/apache2
	rm -rf $(CURDIR)/debian/apache-none
	rm -rf `find . -name 'cache.none*'`
	rm -rf  $(CURDIR)/debian/libmodxslt0
	[ ! -f Makefile ] || $(MAKE) distclean
	
	rm -rf sapi/apache1/modxslt-helpers.o
	rm -rf sapi/apache1/modxslt.o
	rm -rf sapi/apache1/mod_xslt.so

	rm -f helpers/config.sub
	rm -f helpers/config.guess
	rm -f *-stamp

	dh_clean 

install-arch: install-arch-stamp

install-arch-stamp: build-arch
	echo "TARGET: install-arch-stamp"
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	mkdir $(CURDIR)/debian/tmp
	
	@echo -e "Install for lib and bin\n"
	cd $(CURDIR)/lib && $(MAKE) install-library DESTDIR=$(CURDIR)/debian/tmp
	cd $(CURDIR)/utils && $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	cd $(CURDIR)/lib && $(MAKE) install-headers DESTDIR=$(CURDIR)/debian/tmp
	
	@echo -e  "Make install for apache2 module"
	cd $(CURDIR)/sapi/apache2/ && $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	mkdir -p $(CURDIR)/debian/tmp/etc/apache2/{conf.d,mods-available}/
	cp debian/modxslt.load $(CURDIR)/debian/tmp/etc/apache2/mods-available/
	cp $(CURDIR)/debian/modxslt.libapache2 $(CURDIR)/debian/tmp/etc/apache2/conf.d/modxslt
	
	dh_install --sourcedir=debian/tmp
	touch install-arch-stamp

install-indep: install-indep-stamp

install-indep-stamp: build-indep
	echo "TARGET: install-indep-stamp"
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	mkdir -p $(CURDIR)/debian/modxslt-doc/usr/share/doc/modxslt-doc
	cp -r  $(CURDIR)/doc/{manual,faq,misc}  $(CURDIR)/debian/modxslt-doc/usr/share/doc/modxslt-doc
	dh_installdocs -i
	touch install-indep-stamp

# Build architecture-independent files here.
binary-indep: binary-indep-stamp

binary-indep-stamp: install-indep
	echo "TARGET: binary-indep-stamp"
	dh_testdir 
	dh_testroot -i
	
	dh_installchangelogs -i debian/changelog
	dh_compress -i
	dh_fixperms -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i
	touch binary-indep-stamp
	
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: binary-arch-stamp

binary-arch-stamp: install-arch
	echo "TARGET: binary-arch-stamp"

	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs  -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installman -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps  -a
	dh_gencontrol 
	dh_md5sums -a
	dh_builddeb -a

	touch binary-arch-stamp

binary: binary-indep binary-arch
	echo "TARGET: binary"

.PHONY: build clean binary-indep binary-arch binary install patch
